<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="angular-spinner" version="0.6.0" targetFramework="net451" userInstalled="true" />
  <package id="Angular.UI.Bootstrap" version="0.13.0" targetFramework="net451" userInstalled="true" />
  <package id="Angular.UI.Sortable" version="0.2.0" targetFramework="net451" userInstalled="true" />
  <package id="Angular.UI.UI-Router" version="0.2.15" targetFramework="net451" userInstalled="true" />
  <package id="AngularJS.Core" version="1.4.2" targetFramework="net451" userInstalled="true" />
  <package id="AngularJS.Sanitize" version="1.4.2" targetFramework="net451" userInstalled="true" />
  <package id="Spin.js" version="2.0.1" targetFramework="net451" userInstalled="true" />
</packages>